.banner{
    color:white;
    object-fit: contain;
    width: 100%;
    height: 600px;
}

.banner--fadeBottom{
    height:7rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111
    );
}